@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

::selection {
  background: transparent;
}

body {
  font-family: Poppins, sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

select,
input {
  width: 100%;
  height: 30px;
}

/* #app {
  overflow: hidden;
} */

header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 30px;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  width: 100%;
  border-bottom: 1px solid #000000;
}

.Menu {
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 20px;
  display: flex;
}
.Menu div {
  background-color: #000000;
  margin: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.Panier {
  grid-column-start: 10;
  grid-column-end: 11;
  width: 30%;
}

.Coeur {
  grid-column-start: 11;
  grid-column-end: 12;
  width: 30%;
}

.User {
  grid-column-start: 12;
  grid-column-end: 13;
  width: 30%;
}

main {
  display: grid;
  grid-template-columns: 400px 75%;
  max-height: calc(100vh - 160px);
}

/*barre modification*/

footer {
  display: flex;
  margin-top: 80px;
  background-color: #000000;

  width: 100%;
}

/*Bouton Patterns*/

#p5-switcher {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  justify-content: space-evenly;
  padding: 2rem;
  width: 100%;
}

#p5-switcher .switcher {
  border-radius: 60px;
  background-color: #000000;
  color: #fff;
  height: 60px;
  width: 60px;
}

#SmallEllipses {
  display: flex;
  justify-content: space-evenly;
}

#p5-switcher .switcher#Lines {
  background-image: url("../images/Lines_thumb.png");
}

#p5-container > canvas {
  transition: opacity 0.2s ease-in-out;
}

#p5-controls {
  background: #000000;
}

#p5-controls > * {
  background: #000000;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  color: #fff;
  width: 30vw;
}

.option label span {
  float: right;
  background-color: #000000;
}

#drawing-canvas {
  border-radius: 50px;
}

#renderer {
  height: 100vh;
  width: 100vw;
}

.option {
  margin: 0;
}

#buy {
  padding: 1rem;
  position: absolute;
  border-radius: 50px;
  text-align: center;
  width: 80px;
  bottom: 6rem;
  right: 1rem;
}

#buy img {
  width: 50px;
  height: 50px;
  justify-content: center;
  justify-items: center;
}
